@charset "UTF-8";
/*
font-family: 'Do Hyeon', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
h1, h2, h3, h4, .navbar-brand{
	font-family : 'Do Hyeon', sans-serif;
	color: #0D47A1;
}

body{
	font-family : 'Noto Sans KR', sans-serif;
	background-color : #D1C4E9;
}

.navbar{
	border-bottom : #00ACC1 3px solid;
	
}